# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/

# Data files (calibration images)
data/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
